<% less_remote_form_for(@topic, {:url => forum_topics_path(@forum)}) do |f| %>
     <%= f.text_field :title %>

    <% fields_for @post do |post_fields|%>

         <%= f.front nil, :label => "Body:"%>
         <%= post_fields.text_area :body %>
         <%= f.back %>

     <% end %>

     <div class="row button">
       <%= f.submit "Create", :class => 'button' %>
     </div>
 <% end %>