<tr id="<%= dom_id(topic)%>">
  <td class="">
    <%= link_to topic.title, forum_topic_path(@forum, topic) %>

  </td>
  
  <td class="posts">
    <%= topic.posts.count %>
  </td>

  <td class="last_post">
    <%= topic_last_post_info topic%>
  </td>
  
  <%- if is_admin @u %>
  <td id="<%= dom_id(topic)%>_controls" class="controls">
    <%= inline_tb_link('Edit', "#{dom_id(topic)}_edit", {:title => "Editing topic #{topic.title}",
                                                         :id => "#{dom_id(topic)}_edit_link"}, {:height => 100}) %> : 
    <%= link_to_remote 'Destroy', {:url => forum_topic_url(topic.forum, topic), :confirm => 'Are you sure?', 
                                  :method => :delete}, {:class=> "destroy", :id => "#{dom_id(topic)}_destroy_link"} %>
                                                       
    <div id="<%= dom_id(topic)%>_edit" class="hidden">
      <% less_remote_form_for(topic, :url => forum_topic_url(topic.forum, topic)) do |f| %>

          <%= render :partial => 'forum_topics/form', :locals => {:f => f }%>

      <% end %>
    </div>
  </td>
  <% end %>
</tr>