<tr id="<%= topic.dom_id%>">
  <td class="">
    <%= link_to h(topic.title), forum_topic_path(@forum, topic) %>

  </td>
  
  <td class="posts">
    <%= topic.posts.count %>
  </td>

  <td class="last_post">
    <%= topic_last_post_info topic%>
  </td>
  
  <%- if_admin do %>
  <td id="<%= topic.dom_id%>_controls" class="controls">
    <%= inline_tb_link('Edit', "#{topic.dom_id}_edit", {:title => "Editing topic #{topic.title}",
                                                         :id => "#{topic.dom_id}_edit_link"}, {:height => 100}) %> : 
    <%= link_to_remote 'Destroy', {:url => forum_topic_url(topic.forum, topic), :confirm => 'Are you sure?', 
                                  :method => :delete}, {:class=> "destroy", :id => "#{topic.dom_id}_destroy_link"} %>
                                                       
    <div id="<%= topic.dom_id%>_edit" class="hidden">
      <%= render :partial => 'forum_topics/form', :locals => {:topic => topic}%>
    </div>
  </td>
  <% end %>
</tr>